#root {
    height: 100vh;
}

.App {
    text-align: center;
    background: #FFFACD;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
}

#main {
    width: 100%;
}

#todoWrap {
    padding: 10px;
}

.todo-list {
    background: #282c34;
    border-radius: 4px;
    max-width: 400px;
    padding: 5px;
}

.todo {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
}

