.header{
    background-color: gray;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.headerTitle{
    float: left;
}

.kakaoBtn{
    cursor: pointer;
    padding: 5px 15px 0px 0px;
    float: right;
    height: 40px;
}

.sideMenuIcon{
    color: white;
    padding: 7px 0px 0px 7px;
    cursor: pointer;
}
